:root{
    font-size: 16px;
    --color-text: #ffffff3b;
	--color-link: #ffffff82;
	--color-link-hover: #fff;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.frame {
	padding: 2rem 2vw;
	text-align:start;
	position: relative;
	z-index: 1000;
	text-transform: uppercase;
	font-weight: bold;
    font-family: tenon, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: #ffffff3b;
}
